.scroll-container {
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 1rem;
}
